.contacts {
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../backgroundImgs/pexels-albin-berlin-919073.jpg") center/cover
      no-repeat fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.contacts h2 {
  margin-bottom: 4rem;
}

.description {
  text-align: start;
}
